<hr>
<div class="container">
    <form #addForm="ngForm"  (ngSubmit)="addVoter(addForm)">
        <h2 class="text-center text-success">Add voter</h2>
        <hr>
        <div class="form-group">
            <input type="text" class="form-control" placeholder="voter name" [(ngModel)]="model.name" name="voterName">
        </div>

        <div class="form-group text-center">
                <button type="submit"> Add</button>
        </div>
    </form>
</div>
<hr>
<div  id="tableVoters"  class="container">
<table>
    <tbody>
    <tr>
        <th colspan="2" >Voters</th>
    </tr>
    <tr>
        <th>Name</th>
        <th>Has voted</th>
    </tr>
    <tr *ngFor="let voter of voters$ | async">
        <td>{{voter.name}}</td>
        <ng-container  *ngIf="voter.voted;else notVoted">
            <td>V</td>
        </ng-container>
        <ng-template #notVoted>
            <td>X</td>
        </ng-template>
    </tr>
</tbody>
</table>
</div>